<% provide(:current_page, 'Cadastro dos termos de Adesão') %>

<div class="row">
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Editar cadastro de adesão</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <%= form_for @cadastro, html: {role: 'form'} do |f| %>
          <div class="box-body">
            <%= render 'form', f: f, cadastro: @cadastro%>
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </div>
          </div>
      <% end %>
      </div>
  <!-- /.box -->

</div>
</div>
