<h1>Editing Solicitacao Exclusao</h1>

<%= render 'form', solicitacao_exclusao: @solicitacao_exclusao %>

<%= link_to 'Show', @solicitacao_exclusao %> |
<%= link_to 'Back', solicitacao_exclusaos_path %>
