<h1>Editing Processos Licitacao Andamento</h1>

<%= render 'form', processos_licitacao_andamento: @processos_licitacao_andamento %>

<%= link_to 'Show', @processos_licitacao_andamento %> |
<%= link_to 'Back', processos_licitacao_andamentos_path %>
